.game-area-parent {
  margin: 60px;
  display: flex;
  justify-content: center;
  // height: 60vh;
  align-items: center;
}

.game-area {
  background: #fafafa;
  width: 700px;
  border-radius: 5px;
  padding: 30px;
}

.game-stats {
  justify-content: center;
}

.answer-phrase {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  // border: 1px solid $black;
  padding: 10px;
  justify-content: center;          
  font-size: 30px;
  font-family: $font-sans-serif;
  line-height: 1.18;
  margin-bottom: 20px;
  pre {
    // overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }


  .green {
    background: $gamegreen;
    border-radius: 5px;
  }
  .red {
    border-radius: 5px;
    background: $gamered;
  }
}  

.user-input {
  justify-content: center;
  padding: 10px;
}

.user-input input {
  width: 300px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #d9d9d9;
}

.wpm {
  justify-content: center;
  padding: 10px;
  font-family: Helvetica;
  font-size: 20px;
}