.landing-page-container {
    margin: 40px;
    width: 800px;

}

.landing-page-leaderboard {
    border: 1px solid $white;
    color: $white;
    padding: 20px;
    text-align: center;
    background: $darkblue;
    border-radius: 10px;
    width: 500px;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 16px;
    }
    li {
        font-size: 16px;
    }
}