.landing-page-container {
    margin: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.landing-page-links {
    a {
        color: $yellow;
        font-size: 25px;
    }
    height: 100%;
    width: 400px;
}

.landing-page-box {
    margin: 20px;
    border: 1px solid $white;
    color: $white;
    padding: 20px;
    text-align: center;
    background: $darkblue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    h2 {
        font-size: 30px;
    }
    a {
        &:hover{
            color: $gamered;
        }
    }
    li {
        font-size: 16px;
    }
}