.profile-page {
  border: 1px solid $white;
  border-radius: 10px;
  padding: 30px;
  margin: 40px;
  color: $white;
  align-self: center;
  align-items: center;
  background: $darkblue;
  width: 800px;
  height: 750px;
  position: relative;
  
}

.profile-page > div{
  border-bottom: 1px solid $white;
  padding: 20px;
  width: 80%;
}

.profile-page-stats {
  align-items: flex-end;
}

.profile-page-stats-item {
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid $white;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  background: $red;
  &:hover{
  }
  h3 {
    font-size: 20px;
    line-height: 1.3;
  }
}

.profile-page-header {
  text-align: center;
  padding: 0 0 20px 0px;
}

.profile-skill-level-container {
  font-family: $font-sans-serif;
  text-align: center;
}

.profile-skill-level {
  font-weight: bold;
  font-size: 20px;
  color: $yellow;
}

.profile-page-logout {
  align-self: flex-end;
  position: absolute;
}

.leaderboard {
  align-items: center;
  h2 {
    padding-bottom: 20px;
  }
  li {
    text-align: center;
    justify-content: space-between;
    font-size: 20px;
    height: 30px;
    width: 100%;
    div {
      min-width: 120px;
    }
    &.headers {
      color: $yellow;
    }
  }
  a {
    color: $red;
  }

}