.rocket-container {
  width: 400px;
  height: 500px;
  align-items: center;
  justify-content: flex-end;

  // .rocket-below {
  //   display: block;
  //   color: $white;
  //   font-size: 40px;
  //   // background: $rockettrail;
  // }
}

.rocket-below {
  color: $gray-600;
}