.rocket-container {
  width: 900px;
  height: 500px;
  align-items: center;
  justify-content: flex-start;
  // border: 1px solid $red;
}

.rocket-above {
  // border: 1px solid $red;
}
.rocket-below {
  // border: 1px solid $red;
}
.rocket-img {
  transform: rotate(90deg)
}