.skills-container {
  color: $white;
  padding: 20px 40px;
  text-align: center;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 400px;
  h1 {
    text-align: center;
    font-size: 30px;
    padding: 10px;
  }
  .skills-container-row {
    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
    div {
      width: 150px;
    }
    p {
      font-weight: bold;
      font-size: 20px;
      color: $yellow;
    }
    .origin{
      color: $white;
      font-weight: 500;
      font-size: 14px;
      width: 150px;
    }
    align-items: center;
    text-align: right;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $white;
  }
  .skills-bottom{
    border-bottom: none;
  }
  .skills-header{
    justify-content: center;
    border-bottom: none;
  }
}

.game-stats-login {
  width: 100%;
  justify-content: space-evenly;
}

.skills-container span {
  font-family: $font-sans-serif;
  margin: 20px 0px;
  font-size: 20px;
}