.waiting-room-container {
  margin: 40px;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  border: 1px solid $white;
  border-radius: 10px;
  padding: 30px;
  color: $white;
  background: $darkblue;
  width: 800px;
  overflow: scroll;

  h2 {
    font-size: 30px;
  }

  a {
    color: $yellow;
    font-size: 25px;
  }

  p {
    color: $yellow;
    font-size: 25px;
  }
}

.waiting-room-header {
  text-align: center;
}

.waiting-room-container > div{
  border-bottom: 1px solid $white;
  padding: 20px;
  width: 80%;
}

.waiting-room-info-container {
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.waiting-room-play-game {
  height: 50px;
}

.waiting-room-play-game-grey {
  height: 50px;
  background: $gray-600;
  color: $gray-900;
  cursor: not-allowed;
  &:hover {
    background: $gray-600;
  }
}
.waiting-room-info-item {
  align-items: center;
  width: 250px;
  h2 {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.waiting-room-player-list {
  text-align: center;
  justify-content: center;
  align-items: center;
  a {
    font-size: 16px;
      &:hover{
          color: $gamered;
      }
  }
  li {
      font-size: 16px;
  }

  button {
    background: none;
    p {
      font-size: 16px;
      font-weight: bold;
      &:hover{
        color: $gamered;
        cursor: pointer;
      }
    }
  }
}