//Background
$white:             #ffffff !default;
$black:             #000000 !default;
$med-grey:          #e7e7e7 !default;

//Navbar
$light-grey:        #dddddd !default;
$light-purple:      #3F0E40 !default;
$dark-purple:       #441648 !default;
//Primary Colors
$green:             rgb(217, 255, 237) !default;
$purple:            #b1a2e9 !default;
$blue:              rgb(199, 230, 255) !default;
$med-blue:          rgb(144, 205, 255) !default;
$dark-blue:         rgb(85, 178, 255) !default;
$orange:            rgb(255, 246, 226) !default;