@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');



$font-sans-serif:   Quicksand,appleLogo,sans-serif !default;
$font-logo:         Pacifico, cursive !default; 
$font-lato:         Lato, sans-serif !default;  
$font-noto:         Noto Sans JP, sans-serif !default;  
$logo-font:         'Permanent Marker', cursive !default;  
